.DS_Store
# Various IDEs
.project
/.idea/
*.tmproj
.vscode/
tmp
temp
**/.terraform
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*

# Packer
**/*manifest.json
**/*.swp
**/*version-info.json
**/*.sh-e