env: qa
clusterName: {{ requiredEnv "CLUSTER_NAME" }}
vpcId: vpc-003eb242be457b803
accountId: 342446142760
dashboardRole: admin-role
caArn: arn:aws:acm-pca:ap-southeast-1:342446142760:certificate-authority/1cddf79c-0f23-4325-981a-23a823c75cb8
